css reset
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* end of css reset */

html {
  background-color: lightgray;
}

body {
  font-family: inter, sans-serif;
  width: 750px;
  margin: 0 auto;
  padding: 25px;
  background-color: #fafaf8;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px;
  gap: 10px;
}

header img {
  width: 40px;
}

header h1 {
  font-size: 2rem;
  font-weight: 500;
}

form {
  display: flex;
  gap: 1rem;
  padding: 10px;
}

form input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid gray;
}

form button {
  border-radius: 6px;
  border: 1px solid gray;
}

.getRecipeContainer {
  background-color: #f0efeb;
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  border-radius: 10px;
}

.getRecipeContainer button {
  background-color: #d17556;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 10px;
}
